html {
  scroll-behavior: smooth !important;
}
* {
  color: var(--dark);
  font-family: 'Dystopian'; 
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light);
}
b {
  font-weight: bold;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
p {
  font-size: clamp(0.9rem, 1.3125rem + -1.8333vw, 0.075rem);
  font-weight: normal;
}
small {
  font-size: 0.8rem;
  font-weight: normal;
}
.gigante {
  width: 100%;
  background-color: var(--light);
  h2 {
    font-size: 17.2vw
  }
}
.p-20 {
  padding-right: 20px;
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.naranja {
  color: var(--orange) !important;
}
.only-mobile {
  display: none;
}
.only-desktop {
  display: initial;
}
@media screen and (max-width: 480px) {
  .only-mobile {
    display: initial !important;
  }
  .only-desktop {
    display: none !important;
  }
}

button,
a.button {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: var(--orange);
  color: var(--dark);
  padding: 0.2rem 1rem .4rem;
  border-radius: 4px;
  transition: all .4s ease-out;

  &:hover {
    background-color: var(--dark);
    color: var(--light);
    text-decoration: none;
  }

  &--invert {
    background-color: var(--light);
    color: var(--dark) !important;

    &:hover {
      background-color: var(--orange) !important;
      color: var(--dark) !important;
      text-decoration: none;
    }
  }
}